<footer>
  <div class="content">
    <div class="top">
      <div class="media-icons">
        <a href="https://www.facebook.com/profile.php?id=61554078124413" target="_blank"><i class="icon"><img src="assets/fb-icon.png" alt="icon"></i></a>
        <!-- <a href="" target="_blank"><i class="linkedin"><img src="assets/li-icon.png" alt="icon"></i></a> -->
      </div>
      <div class="logo-details">
        <span class="logo_name">TECH WIZARDS</span>
      </div>

    </div>
    <div class="link-boxes">
      <ul class="box">
        <li class="link_name" *ngIf="logedIn">კომპანია</li>
        <li routerLink="/about-us"><a >კონტაქტი</a></li>
        <li routerLink="/home"><a >მთავარი</a></li>
        <li routerLink="/about-us" (click)="scrollTop()"><a >ჩვენს შესახებ</a></li>
        <li *ngIf="logedIn"><a >რეგისტრაცია</a></li>
      </ul>
      <ul class="box">
        <li class="link_name">ვებ-სერვისები</li>
        <li><a routerLink="/Our-Services" (click)="scrollTop()">ვებსაიტის დიზაინი</a></li>
        <li><a routerLink="service-prices" (click)="scrollTop()">პორტფოლიო ვებსაიტი</a></li>
        <li><a routerLink="service-prices" (click)="scrollTop()">კომერციული ვებსაიტი</a></li>
        <li><a routerLink="service-prices" (click)="scrollTop()">არაკომერციული ვებსაიტი</a></li>
      </ul>
      <ul class="box" *ngIf="logedIn">
        <li class="link_name">ჩემი პროფილი</li>
        <li><a >პროფილი</a></li>
        <li><a >ანგარიში</a></li>
        <li><a >შეძენა</a></li>
      </ul>
    </div>
  </div>
  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text" style="cursor: none;">Copyright © 2023 <a>Tech Wizards.</a>All rights reserved</span>
      <span class="policy_terms">
        <a *ngIf="logedIn">Privacy policy</a>
        <a routerLink="/terms-conditions" (click)="scrollTop()">წესები & პირობები</a>
      </span>
    </div>
  </div>
</footer>
