<div class="container">
  <h3 class="text-center text-white">ვადები და პირობები</h3> <hr style="border: 1px solid white;">
  <p class="text-white">
    ვადები და პირობები

1. პროექტის მოცულობა და ღირებულება <br><br>

1.1	პროექტის დეტალური სპეციფიკაცია <br><br>
შეიქმნება ყოვლისმომცველი პროექტის სპეციფიკაციების დოკუმენტი, რომელიც ასახავს მიწოდებას, ვადებს, ეტაპებს და გადახდის ეტაპებს. ეს დოკუმენტი იქნება მკაფიო საგზაო რუკა ორივე მხარისთვის პროექტის სასიცოცხლო ციკლის განმავლობაში. <br><br>
1.2	ხარჯების გამჭვირვალობა <br><br>
პროექტის მთლიანი ღირებულება, ნებისმიერი მოქმედი გადასახადების ან მოსაკრებლების ჩათვლით, ცალსახად იქნება მითითებული პროექტის ხელშეკრულებაში. <br> <br>
1.3 არა ანაზღაურებადი ანაბარი <br><br>
პროექტის დაწყებისა და განვითარების რესურსების უზრუნველსაყოფად საჭიროა 50% დაუბრუნებელი ანაბარი. ეს ანაბარი ასახავს კლიენტის ვალდებულებას და უზრუნველყოფს პროექტის პრიორიტეტიზაციას.

2. გადახდის განრიგი და მეთოდები <br><br>
2.1 ანაბრის გადახდის თარიღი <br><br>
50%-იანი დეპოზიტი ირიცხება პროექტის დამტკიცებისა და ხელშეკრულების ხელმოწერის შემდეგ.
2.2 საბოლოო გადახდის ვადა <br><br>
დარჩენილი 50% - ის გადახდა ხდება პროექტის წარმატებით დასრულების შემდეგ, როგორც ეს განსაზღვრულია პროექტის სპეციფიკაციაში და საბოლოო მიწოდების გამოქვეყნებამდე.
2.3 მიღებული გადახდის მეთოდები: საქართველოს ბანკის ანგარიშით (BOG BANK) <br><br>

3. განვითარების პროცესი და კომუნიკაცია <br><br>

3.1 პროექტის მართვის ინსტრუმენტები <br><br>
განსაზღვრეთ სასურველი ინსტრუმენტები პროექტის მენეჯმენტის, კომუნიკაციისა და ამოცანების თვალყურის დევნებისთვის (მაგ., ReactJS, Angular2+).
3.2 პროექტის განვითარების ეტაპები <br><br>
დეველოპერი მიაწვდის მომხმარებელს პროექტის რეგულარულ განახლებებს, იდეალურ შემთხვევაში შეთანხმებული პროექტის მართვის ხელსაწყოს გამოყენებით. განახლებები მოიცავს პროგრესის ანგარიშებს, დასრულებულ ეტაპებს და ნებისმიერ პოტენციურ გამოწვევას ან შეფერხებას.
3.3 გამოხმაურება და მიმოხილვა <br><br>
მომხმარებელს ექნება შესაძლებლობა განიხილოს მიმდინარე სამუშაოები და მიაწოდოს უკუკავშირი განვითარების განსაზღვრულ ეტაპებზე. ეს ერთობლივი მიდგომა უზრუნველყოფს მომხმარებლის მოლოდინებთან შესაბამისობას და საჭიროების შემთხვევაში დროული კორექტირების საშუალებას იძლევა.

4. მიწოდება და საკუთრება <br><br>
4.1 საბოლოო სამუშაოს მიწოდება <br><br>
საბოლოო მიწოდება, მათ შორის ყველა წყარო და კოდი, დოკუმენტაცია და აქტივები, გადაეცემა მომხმარებელს პროექტის საფასურის სრული გადახდის შემდეგ. <br><br>
4.2 ინტელექტუალური საკუთრება <br><br>
კომპანია ინარჩუნებს სრულ მფლობელობას ყველა ინტელექტუალური საკუთრების უფლებაზე, წყაროს კოდის ჩათვლით, სანამ არ მიიღებს სრულ გადახდას. <br> <br>

5. რევიზიები და ცვლილებების მართვა <br><br>
5.1 რევიზიების სფერო <br><br>
მკაფიოდ განსაზღვრეთ შესწორებების ან გამოხმაურების ციკლების რაოდენობა, რომლებიც შედის პროექტის ფარგლებში. <br> <br>
5.2 დამატებითი სამუშაო <br><br>
მომხმარებელი ვალდებულია დამატებითი სამუშაოს ან გადასინჯვის მოთხოვნების დამუშავების პროცესისთვის შეთანხმებული ფარგლების მიღმა კომპანიის შრომა აანაზღაუროს. ეს მოიცავს დამატებითი ხარჯების დამატებას, პროექტის განახლებას და კლიენტისგან თანხმობის მიღებას გაგრძელებამდე.

6. გაუქმება და შეწყვეტა <br><br>
6.1 მომხმარებლის მხრიდან ხელშეკრულების შეწყვეტა <br><br>
განვითარების დაწყების შემდეგ კლიენტის გაუქმების შემთხვევაში, 50%-იანი დეპოზიტი არ ანაზღაურდება დეველოპერის მიერ ჩადებული დროისა და რესურსების კომპენსაციისთვის. <br><br>
6.2 დეველოპერის მხრიდან ხელშეკრულების შეწყვეტა <br><br>
დეველოპერი იტოვებს უფლებას შეწყვიტოს პროექტი, თუ გადახდა არ ფიქსირდება შეთანხმების მიხედვით, ან თუ მომხმარებელი არაერთხელ არღვევს ხელშეკრულების პირობებს. <br><br>
7. მიღება და შეთანხმება <br><br>
აღიარება და თანხმობა: ამ ხელშეკრულების ხელმოწერით ორივე მხარე აღიარებს და ეთანხმება წინამდებარე პირობებს. <br> <br>

8. დავის გადაწყვეტა <br><br>
8.1 კეთილსინდისიერი მოლაპარაკება <br><br>
ნებისმიერი დავა, რომელიც წარმოიქმნება ამ შეთანხმებიდან, პირველ რიგში იქნება მოლაპარაკების მცდელობა, რომელიც უნდა გადაწყდეს მხარეებს შორის კეთილსინდისიერების გზით. <br><br>
8.2 სავალდებულო არბიტრაჟი <br><br>
თუ მოლაპარაკება ვერ მოხერხდა, დავები გადაწყდება სავალდებულო არბიტრაჟით, თბილისის საქალაქო სასამართლოს წესების შესაბამისად. <br><br>

9. მარეგულირებელი კანონი <br><br>
ეს შეთანხმება განიმარტება და აღსრულდება საქართველოს კონსტიტუციის კანონების შესაბამისად. <br> <br>
10. სრული ხელშეკრულება <br><br>

ანაცვლებს წინა შეთანხმებებს: ეს შეთანხმება წარმოადგენს სრულ შეთანხმებას მხარეებს შორის და ანაცვლებს ნებისმიერ წინა ან თანადროულ კომუნიკაციას ან შეთანხმებას, იქნება ეს ზეპირი თუ წერილობითი. <br><br>
11. მოდიფიკაცია და შესწორება <br><br>

წერილობითი თანხმობა: ამ შეთანხმებაში ნებისმიერი ცვლილება უნდა განხორციელდეს წერილობით და ხელმოწერილი იყოს ორივე მხარის მიერ.
ხელმოწერები <br><br>

შემქმნელი:  TECH WIZARDS

</p>
</div>
