<div class="container">
  <div class="text-white mb-5 text-center title">WEB-სერვისები</div>
  <image-slider [slides]="slides"></image-slider>
</div>






<section class="about_section layout_padding">
  <div class="container2  ">
    <div class="heading_container heading_center">
      <h2>
        როგორ ხდება შეკვეთების აღება?
      </h2>
      <p>ვებ დიზაინის შეკვეთის პროცესი: <br><hr> სახელმძღვანელო მომხმარებლებისთვის</p>
    </div>
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/ui-gif.gif" alt="gif">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>

          </h3>
          <p>
            1. აღმოჩენა და გაგება:<br><hr>

პირველადი კონსულტაცია - ჩვენ გვექნება ჩატი, რათა განვიხილოთ თქვენი პროექტის მიზნები, სამიზნე აუდიტორია, ვებსაიტის სასურველი ფუნქციონალობა და ნებისმიერი არსებული ბრენდინგის სახელმძღვანელო მითითებები. ეს მეხმარება თქვენი ხედვის გაგებაში და ვებსაიტის შესაბამისად მორგებაში.<br><hr>
 ვებსაიტის ინსპირაცია -  გაგვიზიარეთ ის ვებსაიტი, რომელიც მოგწონთ, აღწერეთ რა რეზონანსია თქვენთან მათი დიზაინისა და ფუნქციონალურობის შესახებ. <br><hr>
შინაარსის შეგროვება - მოგვაწოდეთ არსებული შინაარსი (ტექსტები, სურათები, ლოგოები) ან მოგვეცით წარმოდგენა იმაზე, თუ რა უნდა შეიქმნას.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_section layout_padding">
  <div class="container2  ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h3>

          </h3>
          <p>
            2. დაგეგმვა და სტრატეგია:<br><hr>

            საიტის რუკა და მომხმარებელთა ნაკადი - ჩვენ გამოვსახავთ ვებგვერდის სტრუქტურას, აღვნიშნავთ, თუ როგორ გადაადგილდებიან მომხმარებლები სხვადასხვა გვერდებზე და იპოვიან მათთვის საჭირო ინფორმაციას. <br><hr>
            Wireframing და Prototyping - ჩვენ გაჩვენებთ დაახლოებითი სიზუსტის მაკეტებს ვებსაიტის განლაგებისა და ფუნქციონირების ვიზუალიზაციისთვის, რათა დარწმუნდეთ, რომ სწორ გზაზე ვართ. <br><hr>
            სტილის გზამკვლევი და განწყობის დაფა - ჩვენ განვსაზღვრავთ ვებსაიტის ვიზუალურ იდენტობას, ფერების პალიტრების, შრიფტებისა და მთლიანი ესთეტიკის ჩათვლით, თქვენი პრეფერენციებისა და ბრენდის მითითებების საფუძველზე. <br><hr>
          </p>
        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/ecomerce.gif" alt="gif">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_section layout_padding">
  <div class="container2  ">
    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/web-development.gif" alt="gif">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <h3>

          </h3>
          <p>
            3. დიზაინი და განვითარება: <br><hr>

            მთავარი გვერდის დიზაინი - ჩვენ ყურადღებას გავამახვილებთ განსაცვიფრებელი და გავლენიანი მთავარი გვერდის შექმნაზე, რომელიც ქმნის შთაბეჭდილებას მთელი ვებსაიტისთვის. ჩვენ წარმოგიდგენთ დიზაინის არაერთ ვარიანტს განხილვისთვის. <br><hr>
             შიდა გვერდის დიზაინი - ჩვენ შევქმნით განლაგებას და ვიზუალურ ელემენტებს სხვა ძირითადი გვერდებისთვის, როგორიცაა კონტაქტი, ჩვენს შესახებ და პროდუქტის/მომსახურების გვერდები. <br><hr>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about_section layout_padding">
  <div class="container2 ">
    <div class="row">
      <div class="col-md-6">
        <div class="detail-box">
          <h3>

          </h3>
          <p>
            4. გაშვება <br><hr>

       ვებსაიტის მიმოხილვა და გამოხმაურება - ჩვენ საფუძვლიანად შევამოწმებთ ვებსაიტს და დავტესტავთ პროექტს საბოლოოდ გაშვებამდე. <br><hr>
      საიტის გაშვება და პოპულარიზაცია - ჩვენ დაგეხმარებით თქვენი ვებსაიტის გაშვებაში და მოგაწოდებთ მითითებებს თქვენი სამიზნე აუდიტორიისთვის მისი პოპულარიზაციის შესახებ. <br><hr>
      მიმდინარე მოვლა და მხარდაჭერა - ჩვენ ვიქნებით ხელმისაწვდომი მომავალი განახლებისთვის, რედაქტირებისთვის ან ტექნიკური დახმარებისთვის, რომელიც შეიძლება დაგჭირდეთ.
          </p>

        </div>
      </div>
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="assets/design.gif" alt="gif">
        </div>

      </div>

    </div>
  </div>
</section>

<a class="findOut d-flex justify-content-center align-items-center" routerLink="/service-prices">
  გაიგე მომსახურების საფასური
</a>


