
.container {
  margin-top: 100px;
  width: 100%;
  /* max-height: 70vh; */
}
.wrapper{
  position: relative;
  max-width: 1130px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
.container .cart-nav{
  width: 130px;
  margin: 20px auto;
  background: #fff;
  border: 4px solid #140B5C;
  padding: 13px 15px;
  border-radius: 8px;
  display: flex;
  cursor: pointer;
  justify-content: space-evenly;
  box-shadow: 3px 3px 8px 0px rgba(0,0,0,0.15);
}
.cart-nav .icon{
  color: #6C00B5;
}
.cart-nav .icon i{
  font-size: 20px;
}
.cart-nav .icon span{
  font-weight: 500;
}
.cart-nav .item-count{
  font-size: 15px;
  height: 23px;
  width: 23px;
  color: #6C00B5;
  background: #e6e4e8;
  text-align: center;
  line-height: 22px;
  border: 1px solid #b6abbc;
  border-radius: 50%;
}
.wrapper .card{
  position: relative;
  background: #fff;
  border-radius: 3px;
  width: 300px;
  height: 300px;
  overflow: hidden;
  box-shadow: 4px 4px 10px 0px rgba(0,0,0,0.15);
}

.wrapper .card img{
  width: 100%;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.card:hover img{
  transform: scale(1.1);
}
.wrapper .card .content{
  position: absolute;
  width: 100%;
  bottom: -50%;
  background: #fff;
  padding: 10px 20px 22px 20px;
  box-shadow: 0px -3px 10px 0px rgba(0,0,0,0.15);
  transition: all 0.3s ease;
}
.wrapper .card:hover .content{
  bottom: 0;
}
.card .content .row,
.content .buttons{
  display: flex;
  justify-content: space-between;
}
.content .row .details span{
  font-size: 22px;
  font-weight: 500;
}
.content .row .details p{
  color: #333;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 2rem;
}
.content .row .price{
  color: #6C00B5;
  font-size: 25px;
  font-weight: 600;
}
.content .buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 3px;
  margin-top: 20px;
}
.content .buttons button{
  width: 100px;
  padding: 9px 0;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 3px;
  border: 2px solid #6C00B5;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.buttons button:first-child{
  color: #6C00B5;
  background: #fff;
}
button:first-child:hover{
  color: #fff;
  background: #6C00B5;
}
.buttons button:last-child{
  color: #fff;
  background: #6C00B5;
}
button:last-child:hover{
  background: #6C00B5;
  border-color: #6C00B5;
}

@media only screen and (max-width:992px) {

}
