
.intro2 {
  display: none;
}
 .intro3 {
  display: none;
}

video {
  z-index: -1;
  position: fixed;
  top: 0px;
  width: 100%;
  height: fit-content;
}
.margb {
  margin-bottom: 400px;
}

@media only screen and (max-width:1400px) {
  .intro3 {
    display: none;
  }
  .intro1 {
    display: none;
  }
  .intro2 {
    display: block;
  }

  video {
    margin-top: 100px;
  }
}
@media only screen and (max-width:400px) {
  .intro1, .intro2 {
    display: none;
  }
  .intro3 {
    display: block;
  }
  video {
    top: -50px;
  }

}

.unmuteVideo {
  position: fixed;
  left: 8px;
  top: 45%;
  border-radius: 50%;
  width: 32px;
}
.unmuteVideo i {
  width: 100%;
}

