
.container-fluid {
  margin: auto;
  margin-top: 130px;
}

.team_section {
  border-radius: 8px;
  padding: 0px 0px 40px 20px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.4), rgba(220, 235, 255, 0.8));
  animation: pulsatingShadow 2s ease-in-out infinite;
  text-align: center;
  background-color: #00204a;
  color: #ffffff;
}

.team_section .heading_container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
}

.team_section .team_container .row{
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.team_section .team_container .box {
  padding: 35px 0 0 0;
  height: 320px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
  background: -webkit-gradient(linear, left top, left bottom, from(#002759), to(#002b64));
  background: linear-gradient(to bottom, #002759, #002b64);
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 100%;
  border: 5px solid #ffffff;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: white;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #00bbf0;
}



@keyframes pulsatingShadow {
  0% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 255, 0.5); /* Start with no shadow */
  }
  50% {
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 255, 0.5); /* Expand to full shadow */
  }
  100% {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 255, 0.5); /* Collapse back to no shadow */
  }
}


/***********************/



.container .card {
  margin: auto;
  margin-top: 150px;
  background: #191c29;
  width: 600px;
  height: 340px;
  padding: 3px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  font-family: cursive;
  background-image: url("assets/front.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease-in-out;
  animation: border-gradient 5s infinite alternate linear;
  animation: pulse-shadow 5s infinite ease-in-out;
}

 .container .card:hover {

  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4 ease-in-out;
  background-image: url("assets/back.png");
 }


@keyframes border-gradient {
  0% {
    border: 5px solid white;
  }
  100% {
    border: 5px solid black;
  }
}
@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 9px 4px black;
  }
  50% {
    box-shadow: 0 0 8px 5px #6C00B5;
  }
  100% {
    box-shadow: 0 0 10px 3px black;
  }
}

@media only screen and (max-width:773px) {
  .container .card {
    width: 500px;
    height: 280px;
  }
}
@media only screen and (max-width:525px) {
  .container .card {
    width: 385px;
    height: 218px;
  }

}
@media only screen and (max-width:430px) {
  .container .card {
    width: 350px;
    height: 200px;
  }
}
@media only screen and (max-width:381px) {
  .container .card {
    width: 300px;
    height: 170px;
  }
}
