
.container-fluid {
  margin: auto;
  margin-top: 130px;
}

.team_section {
  border-radius: 8px;
  padding: 0px 0px 40px 20px;
  text-align: center;
  color: #ffffff;
}

.team_section .heading_container {
  padding-top: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: space-between;
}

.team_section .team_container .row{
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
}

.team_section .team_container .box {
  box-shadow: 0 0 9px 4px rgb(67, 66, 66);

  padding: 35px 0 0 0;
  height: 350px;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all .1s;
  transition: all .1s;
  margin-top: 45px;
}

.team_section .team_container .box .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}


.team_section .team_container .box .img-box img {
  width: 120px;
  border-radius: 50%;
  animation: border-gradient 5s infinite alternate linear;
  animation: pulse-shadow 5s infinite ease-in-out;
  animation: pulsatingShadow 5s ease-in-out infinite;
}
.team_section .team_container .box .img-box img:hover {
  box-shadow: 0px 0px 20px 10px rgba(241, 241, 243, 0.5) !important;
}

.team_section .team_container .box .detail-box {
  margin: 25px 0;
}

.team_section .team_container .box .detail-box h5 {
  color: white;
  font-weight: 600;
  position: relative;
}

.team_section .team_container .box .social_box {
  padding: 10px 45px 20px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team_section .team_container .box .social_box a {
  color: #ffffff;
  font-size: 22px;
}

.team_section .team_container .box .social_box a:hover {
  color: #6C00B5;
}



@keyframes pulsatingShadow {
  0% {
    box-shadow: 0px 0px 0px 0px #e8e6ea;
  }
  50% {
    box-shadow: 0px 0px 7px 3px #e8e6ea;
  }
  100% {
    box-shadow: 0px 0px 0px 0px #e8e6ea;
  }
}


/***********************/

.container1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.container1 .card {
  margin: auto;
  margin-top: 150px;
  background: #191c29;
  width: 600px;
  height: 340px;
  padding: 3px;
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  cursor: pointer;
  font-family: cursive;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: 0.4s ease-in-out;
  animation: border-gradient 5s infinite alternate linear;
  animation: pulse-shadow 5s infinite ease-in-out;
}


@keyframes border-gradient {
  0% {
    border: 5px solid white;
  }
  100% {
    border: 5px solid black;
  }
}
@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0 9px 4px black;
  }
  50% {
    box-shadow: 0 0 8px 5px #6C00B5;
  }
  100% {
    box-shadow: 0 0 10px 3px black;
  }
}

@media only screen and (max-width:773px) {
  .container1 .card {
    width: 500px;
    height: 280px;
  }
}
@media only screen and (max-width:525px) {
  .container1 .card {
    width: 385px;
    height: 218px;
  }

}
@media only screen and (max-width:430px) {
  .container1 .card {
    width: 350px;
    height: 200px;
  }
}
@media only screen and (max-width:381px) {
  .container1 .card {
    width: 300px;
    height: 170px;
  }
}
